@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

button {
    width: 60px;
    height: 25px;
    border-color: #00eeff;
    border-radius: 20px;
    background-color: #5b5b5b;
    color: rgb(170, 255, 0);
}

section {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
}